# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
obj/*
CSC252*/*

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE Settings
.vs/*
.idea/*
x64/Debug/CSC252-Assignment-5.pdb
